<h3>Your hand:</h3>

<script>
  const gameId = '<%= gameId %>';

  // Fetch the current users cards here from `/games/${gameId}/cards`
  var myRequest = new XMLHttpRequest();
  myRequest.open('GET', '/games/${gameId}/cards');
  myRequest.onreadystatechange = function () { 
   if (myRequest.readyState === 4) 
   {
     document.getElementById('ajax-content').innerHTML = myRequest.responseText;
   }


  const checkExchangeStatus = function(){
    $.ajax(`/games/${gameId}/allExchanged`).done(function(data, textStatus, xhr){
      if (xhr.status !== 202) { // not pending
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  setInterval(checkExchangeStatus, 1000);
</script>
