<h3>Your hand TESTING 3:</h3>

<script>
  const gameId = '<%= gameId %>';

  // Fetch the current users cards here from `/games/${gameId}/cards`
  var xhr = new XMLHttpRequest();

  xhr.onreadystatechange = cardcallback;

  function cardcallback() {
      if (xhr.readyState == 4){
        return;
      }
      if (xhr.readyState !== 200){
        return;
      }
      xhr.open("GET", "/games/${gameId}/cards", true);
  }



  const checkExchangeStatus = function(){
    $.ajax(`/games/${gameId}/allExchanged`).done(function(data, textStatus, xhr){
      if (xhr.status !== 202) { // not pending
        sendcardrequest()
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  setInterval(checkExchangeStatus, 1000);
</script>
