<h3>Your hand TESTING 3:</h3>

<script>
  const gameId = '<%= gameId %>';

  // Fetch the current users cards here from `/games/${gameId}/cards`
function sendcardrequest(){

    xhr.open("GET", "/games/${gameId}/cards", true);
    xhr.overrideMimeType('text/plain; charset=x-user-defined');
    xhr.send(null);

    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4){
            if ((xhr.status == 200) || (xhr.status == 0)){
                var image = document.getElementById("get_img");
                image.src = "data:image/gif;base64," + encode64(xhr.responseText);
            }else{
                alert("Not working : " +
                    "\nError Code : " + xhr.status +
                    "\nError Message : " + xhr.responseText);
            }
        }
    };
}


  const checkExchangeStatus = function(){
    $.ajax(`/games/${gameId}/allExchanged`).done(function(data, textStatus, xhr){
      if (xhr.status !== 202) { // not pending
        sendcardrequest()
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  setInterval(checkExchangeStatus, 1000);
</script>
