<h3>Your hand TESTING 3:</h3>

<script>
  const gameId = '<%= gameId %>';

  // Fetch the current users cards here from `/games/${gameId}/cards`
  function sendRequest() {
      var request = new XMLHttpRequest();
      request.open('GET', '/games/${gameId}/cards', false);
      request.onreadystatechange = handleStateChange;
      request.send(null);

      function handleStateChange() {
        //  4 is yes
          if (request.readyState === 4) {

              if (this.status >= 200 && this.status < 300) {

                  var elm = document.getElementById("http://deckofcardsapi.com/");
                  elm.innerHTML = request.responseText;
              }
          }
      }
  }


  const checkExchangeStatus = function(){
    $.ajax(`/games/${gameId}/allExchanged`).done(function(data, textStatus, xhr){
      if (xhr.status !== 202) { // not pending
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  setInterval(checkExchangeStatus, 1000);
</script>
