<h3>Your hand TESTING 3:</h3>

<script>
  const gameId = '<%= gameId %>';

  // Fetch the current users cards here from `/games/${gameId}/cards`
  function sendRequest() {
      var request = new XMLHttpRequest();
      request.open('GET', '/games/${gameId}/cards', false);
      request.onreadystatechange = handleStateChange;
      request.send(null);

      function handleStateChange() {

          if (request.readyState === 4) {

              if (this.status >= 200 && this.status < 300) {

                [
                  {
                    "images": {
                      "svg": "https://deckofcardsapi.com/static/img/4H.svg",
                      "png": "https://deckofcardsapi.com/static/img/4H.png"
                    },
                    "code": "4H",
                    "value": "4",
                    "suit": "HEARTS",
                    "image": "https://deckofcardsapi.com/static/img/4H.png"
                  },
                  {
                    "images": {
                      "svg": "https://deckofcardsapi.com/static/img/9D.svg",
                      "png": "https://deckofcardsapi.com/static/img/9D.png"
                    },
                    "code": "9D",
                    "value": "9",
                    "suit": "DIAMONDS",
                    "image": "https://deckofcardsapi.com/static/img/9D.png"
                  },
                  ...
                ]
              }
          }
      }
  }


  const checkExchangeStatus = function(){
    $.ajax(`/games/${gameId}/allExchanged`).done(function(data, textStatus, xhr){
      if (xhr.status !== 202) { // not pending
        document.location = `/games/${gameId}/result`;
      }
    })
  }

  setInterval(checkExchangeStatus, 1000);
</script>
